
/* ==========================================================================
    Author's custom styles
   ========================================================================== */

/* page
   -------------------------------------------------------------------------- */
.page {
    margin: 0 var(--gutter);
    @media (--medium-screen) {
        margin: 0 auto;
    }
}

/* header
   -------------------------------------------------------------------------- */
[role="banner"] {
    max-width: var(--col-width);
    padding: var(--gutter) 0;
    margin: 0 auto;
    @media (--medium-screen) {
        position: fixed;
        top: 0;
        left: var(--gutter);
        width: var(--col-width);
        margin: inherit;
        overflow-y: auto;
        max-height: 100%;
        -webkit-overflow-scrolling: touch;
    }
    @media (--large-screen) {
        left: var(--gutter);
    }
    @media (--max-width) {
        left: calc(50% - var(--max-width) / 2 + var(--gutter));
    }
}

[role="banner"] > div:first-child {
    text-align: center;
}

[role="banner"] h1 {
    font-weight: 800;
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: .15em;
}

[role="banner"] h1 > span {
    display: inline-block;
    text-align: left;
}

[role="banner"] > div:first-child img {
    width: 150px;
    box-shadow: 0 1px 6px rgba(0,0,0,.45);
}

[role="banner"] > div:first-child strong {
    color: darkgrey;
    font-size: 1.5em;
}

[role="banner"] > div:nth-child(2) {
    @apply --border-top-gradient;
    padding-top: .6rem;
    margin-top: 1.2rem;
    text-align: center;
}

[role="banner"] > div:nth-child(2) > div {
    display: inline-block;
    text-align: left;
    padding-left: 2.4em;
}

[role="banner"] > div:nth-child(2) p {
    position: relative;
    margin: .6em 0;
}

[role="banner"] > div:nth-child(2) :--icon {
    position: absolute;
    top: .3em;
    left: -1.8em;
}

[role="banner"] > div:nth-child(3) {
    @apply --border-top-gradient;
    text-align: center;
    margin-top: 1.2rem;
    padding: 1.5rem 0 .6rem;
}

[role="banner"] > div:nth-child(3) a + a {
    margin-left: 1.8rem;
}

/* main
   -------------------------------------------------------------------------- */
[role="main"] {
    max-width: 450px;
    margin: var(--gutter) auto 0;
    @media (--medium-screen) {
        max-width: inherit;
        margin: var(--gutter) var(--gutter) 0 calc(var(--col-width) + var(--gutter) * 2);
    }
    @media (--large-screen) {
        max-width: calc(100% - var(--col-width) - var(--small-col-width) - var(--gutter) * 4);
        margin: var(--gutter) auto 0;
        transform: translateX(calc((var(--col-width) - var(--small-col-width)) / 2));
    }
    @media (--max-width) {
        max-width: calc(var(--max-width) - var(--col-width) - var(--small-col-width) - var(--gutter) * 4);
    }
}

/* Nav
   ----------------- */
.side-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(75,75,75);
    box-shadow: 0 0 9px rgba(0,0,0,.3);
    transition: transform .3s;
    @media (--large-screen) {
        width: var(--small-col-width);
        top: calc(var(--gutter));
        left: calc(100% - var(--small-col-width) - var(--gutter));
        bottom: inherit;
        box-shadow: none;
        padding: .9em 1.2em;
        transition: none;
    }
    @media (--max-width) {
        left: calc(50% + var(--max-width) / 2 - var(--small-col-width) - var(--gutter));
    }
}

.side-nav.offscreen {
    transform: translateY(calc(100% + 9px));
}

.side-nav ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 0;
    text-align: center;
    @media (--large-screen) {
        font-size: inherit;
        text-align: left;
    }
}

.side-nav ol > li {
    display: inline-block;
    width: 25%;
    line-height: 1;
    @media (--large-screen) {
        display: list-item;
        width: auto;
        & + li {
            margin-top: .6em;
        }
    }
}

.side-nav a {
    font-size: 1.2rem;
    display: inline-block;
    width: 100%;
    color: silver;
    padding: .3em;
    text-decoration: none;
    &:--enter {
        color: darkorange;
    }
    @media (--medium-screen) {
        font-size: 1.35rem;
        padding: .45em;
    }
    @media (--large-screen) {
        position: relative;
        padding: .3em 0 .3em 2.1em;
    }
}

.side-nav a span {
    display: block;
    font-size: .6rem;
    margin-top: .6em;
    @media (--medium-screen) {
        display: inherit;
        font-size: 1rem;
        margin: 0 0 0 .3em;
        vertical-align: .09em;
    }
    @media (--large-screen) {
        margin: 0;
    }
}

.side-nav :--icon {
    @media (--large-screen) {
        position: absolute;
        left: .6em;
        transform: translateX(-50%);
    }
}

/* Sections
   ----------------- */
[role="main"] > section {
    position: relative;
    border-radius: 3px;
    margin-bottom: var(--gutter);
}

[role="main"] > section:before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(-var(--gutter) / 2 - 3px);
    width: 6px;
    height: 100%;
    background-color: darkorange;
    opacity: 0;
}

@keyframes highlightSection {
    0% { opacity: 0; }
    24% { opacity: 1; }
    100% { opacity: 0; }
}

[role="main"] > section:target:before {
    animation: highlightSection 1.2s ease;
}

/* Section heading
   ----------------- */
.section-heading {
    font-weight: 800;
    line-height: 1.2;
    color: var(--deepgrey);
}

.section-heading > span {
    display: inline-block;
    letter-spacing: -1px;
    padding: 0 .15em;
    background-color: darkgrey;
}

/* Section highlight
   ----------------- */
.section-highlight {
    background-color: rgb(42,42,42);
    padding: 12px 24px 15px;
    margin: 1.5em 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.3), 1px 1px 0 rgba(255,255,255,.09);
    @media (--max-width) {
        float: right;
        margin: 0 0 1.5em 1.5em;
    }
}

.section-highlight h3 {
    font-size: 1.09em;
    margin: 0;
}

.section-highlight ul {
    list-style: none;
    padding-left: 12px;
    margin: .9em 0 0;
}

.section-highlight ul > li {
    position: relative;
    margin-top: .6em;
    &:before {
        content: '・';
        content: '-';
        font-size: 1.5em;
        line-height: 1;
        position: absolute;
        top: .09em;
        top: -.06em;
        left: -.9em;
        left: -.75em;
    }
}

/* Experience cards
   ----------------- */
.experience-card + .experience-card {
    @apply --border-top-gradient;
    padding-top: 1.2em;
    margin-top: 1.5em;
}

.experience-card > strong {
    font-size: 1.2rem;
    display: block;
}

.experience-card em {
    font-style: normal;
    font-weight: bold;
}

.time-range {
    font-size: .81rem;
    color: grey;
    margin: .3em 0 .6em;
}

.time-range > .icon-clock {
    margin: 0 .3em 0 .9em;
}

/* Footer
   -------------------------------------------------------------------------- */
[role="contentinfo"] {
    background-color: rgb(36,36,36);
    padding: var(--gutter);
    margin: calc(var(--gutter) * 3) -var(--gutter) 0;
    text-align: center;
    @media (--medium-screen) {
        margin: calc(var(--gutter) * 3) 0 0;
    }
}