
/* ==========================================================================
    Author's custom styles
   ========================================================================== */

/* page
   -------------------------------------------------------------------------- */
.page {
    margin: 0 var(--gutter);
    @media (--medium-screen) {
        margin: 0 auto;
    }
}

/* main
   -------------------------------------------------------------------------- */
[role="main"] {
    max-width: 450px;
    margin: var(--gutter) auto 0;
    @media (--medium-screen) {
        max-width: inherit;
        margin: calc(var(--gutter) * 2) var(--gutter) 0 calc(var(--col-width) + var(--gutter) * 2);
    }
    @media (--large-screen) {
        max-width: calc(100% - var(--col-width) - var(--small-col-width) - var(--gutter) * 4);
        margin: calc(var(--gutter) * 2) auto 0;
        transform: translateX(calc((var(--col-width) - var(--small-col-width)) / 2));
    }
    @media (--max-width) {
        max-width: calc(var(--max-width) - var(--col-width) - var(--small-col-width) - var(--gutter) * 4);
    }
}

/* Sections
   ----------------- */
[role="main"] > section {
    position: relative;
    border-radius: 3px;
    margin-bottom: var(--gutter);
}

[role="main"] > section:before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(- var(--gutter) / 2 - 3px);
    width: 6px;
    height: 100%;
    background-color: darkorange;
    opacity: 0;
}

@keyframes highlightSection {
    0% { opacity: 0; }
    24% { opacity: 1; }
    100% { opacity: 0; }
}

[role="main"] > section:target:before {
    animation: highlightSection 1.2s ease;
}

/* Section heading
   ----------------- */
.section-heading {
    font-weight: 800;
    line-height: 1.2;
    color: var(--deepgrey);
}

.section-heading > span {
    display: inline-block;
    padding: 0 .15em;
    background-color: darkgrey;
}

/* Section highlight
   ----------------- */
.section-highlight {
    background-color: rgb(42,42,42);
    padding: 12px 24px 15px;
    margin: 1.5em 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.3), 1px 1px 0 rgba(255,255,255,.09);
    @media (--max-width) {
        float: right;
        margin: 0 0 1.5em 1.5em;
    }
}

.section-highlight h3 {
    font-size: 1.09em;
    margin: 0;
}

.section-highlight ul {
    list-style: none;
    padding-left: 12px;
    margin: .9em 0 0;
}

.section-highlight ul > li {
    position: relative;
    margin-top: .6em;
    &:before {
        content: '・';
        content: '-';
        font-size: 1.5em;
        line-height: 1;
        position: absolute;
        top: .09em;
        top: -.06em;
        left: -.9em;
        left: -.75em;
    }
}

/* Experience cards
   ----------------- */
.experience-card + .experience-card {
    @apply --border-top-gradient;
    padding-top: 1.2em;
    margin-top: 1.5em;
}

.experience-card > strong {
    font-size: 1.2rem;
    display: block;
}

.experience-card em {
    font-style: normal;
    font-weight: bold;
}

.time-range {
    font-size: .81rem;
    color: grey;
    margin: .3em 0 .6em;
}

.time-range > .icon-clock {
    margin: 0 .3em 0 .9em;
}
